# Clase 0: Introducción a Python con Jupyter Notebook

by Benjamín Oliva & Omar Alfaro

## Motivación: ¿Por qué aprender python?

![Languages](languages.png)

![Popularity](captura.jpg)

## Breve historia de python

### Declaración y tipos de objetos

In [18]:
oj = [1,2,3,4,5]

In [21]:
type(oj)

list

### Palabras clave

Los lenguajes de programación contienen ciertas palabras clave que es fundamental eivarr su uso para nombrar nuevos objetos. En el caso de _python_ algunas de estas palabras son: 

* while
* True/False
* for
* if
* type
* or

## Operadores matemáticos

In [6]:
5+5-2

8

In [7]:
8*8/2

32.0

In [22]:
(5**5)**(1/2)

55.90169943749474

### Operadores lineales

### Operadores lógicos

In [24]:
4 == 4.5

False

In [25]:
4!=4.5

True

In [26]:
4>=4.5

False

In [27]:
4>4

False

In [30]:
True==False or True==True

True

## Funciones y bucles

In [ ]:
def

In [ ]:
for i in

## Introducción a numpy

In [4]:
import numpy as np

## Introducción a pandas

In [5]:
import pandas as pd

## Ecuaciones con Markdown

$\hat{Y} = \hat{\beta}_{0} + \sum \limits _{j=1} ^{p} X_{j}\hat{\beta}_{j}$

## Ejemplo práctico: Francis Galton y la regresión hacia la media

In [11]:
import csv 
import requests

In [15]:
url = "http://www.randomservices.org/random/data/Galton.txt"
with requests.Session() as s:
    download = s.get(url)
    decoded_content = download.content.decode('utf-8')
    data_iter = csv.reader(decoded_content.splitlines(), delimiter='\t')
data = [data for data in data_iter]
 
df = pd.DataFrame(data[1:]) #skip first line
df.columns = data[0]

In [16]:
df

    Family Father Mother Gender Height Kids
0        1   78.5     67      M   73.2    4
1        1   78.5     67      F   69.2    4
2        1   78.5     67      F     69    4
3        1   78.5     67      F     69    4
4        2   75.5   66.5      M   73.5    4
..     ...    ...    ...    ...    ...  ...
893   136A   68.5     65      M   68.5    8
894   136A   68.5     65      M   67.7    8
895   136A   68.5     65      F     64    8
896   136A   68.5     65      F   63.5    8
897   136A   68.5     65      F     63    8

[898 rows x 6 columns]