# Clase 0: Introducción a Python con Jupyter Notebook

by Benjamín Oliva & Omar Alfaro just this

## 0. Introducción al control de versiones con git

Para los usuarios de Windows es necesario abrir *Git Bash*. En caso de que utilicen mac es necesario abrir la terminal ("Control + Option + Shift + T”) y escribir "*git init*"

### Comandos básicos en la terminal

* pwd (nos señala la ruta actual de trabajo)
* clear (borra el historial de comandos)
* ls (list files) 
* cd (change directory)
* mkdir (crea una carpeta con el nombre que se indique) 
* rm (Borra archivos)

### Comandos básicos en Git

* git config --global user.name "Pongan su nombre" <- comando para cambiar el nombre 
* git config --global user.email "Pongan su correo" <- comando para poner el correo electrónico de una cuenta de github

### Haciendo una copia local del repositorio de la clase

* Paso 1: abrir la terminal o git bash 
* Paso 2: con _cd_ ir a la carpeta en que queremos copiar el repo de la clase
* Paso 3: _git clone_ https://github.com/benjov/Econometria-II-2021

### Actualizando el repositorio de la clase

* Paso 1: abrir la terminal o git bash 
* Paso 2: con _cd_ ir a la carpeta donde se encuentra el repo clonado 
* Paso 3: _git pull origin master_

## 1.- Motivación: ¿Por qué aprender python?

![Languages](languages.png)

![Popularity](captura.jpg)

### Historia de python 

http://python-history.blogspot.com/2009/01/brief-timeline-of-python.html

### Palabras clave

Los lenguajes de programación contienen ciertas palabras clave que son la "base" sobre la que se construye.
 - and                      - del                    - global                - not                     - with
 - as                       - elif                   - if                    - or                      - yield
 - asser                    - else                   - import                - pass
 - break                    - except                 - in                    - raise
 - class                    - finally                - is                    - return
 - continue                 - for                    - lambda                - try 
 - def                      - from                   - nonlocal              - while

### Declaración y tipos de objetos

In [18]:
oj = [1,2,3,4,5]

In [21]:
type(oj)

list

## Operadores matemáticos

In [6]:
5+5-2

8

In [7]:
8*8/2

32.0

In [22]:
(5**5)**(1/2)

55.90169943749474

### Operadores lineales

### Operadores lógicos

In [24]:
4 == 4.5

False

In [25]:
4!=4.5

True

In [26]:
4>=4.5

False

In [27]:
4>4

False

In [30]:
True==False or True==True

True

## Funciones y bucles

In [ ]:
def

In [ ]:
for i in

## Introducción a numpy

In [3]:
import numpy as np

## Introducción a pandas

In [4]:
import pandas as pd

## Ecuaciones con Markdown

$\hat{Y} = \hat{\beta}_{0} + \sum \limits _{j=1} ^{p} X_{j}\hat{\beta}_{j}$

## Ejemplo práctico: Francis Galton y la regresión hacia la media

In [1]:
import csv 
import requests

In [7]:
url = "http://www.randomservices.org/random/data/Galton.txt"
with requests.Session() as s:
    download = s.get(url)
    decoded_content = download.content.decode('utf-8')
    data_iter = csv.reader(decoded_content.splitlines(), delimiter='\t')
data = [data for data in data_iter]
 
df = pd.DataFrame(data[1:]) #skip first line
df.columns = data[0]

In [8]:
df

    Family Father Mother Gender Height Kids
0        1   78.5     67      M   73.2    4
1        1   78.5     67      F   69.2    4
2        1   78.5     67      F     69    4
3        1   78.5     67      F     69    4
4        2   75.5   66.5      M   73.5    4
..     ...    ...    ...    ...    ...  ...
893   136A   68.5     65      M   68.5    8
894   136A   68.5     65      M   67.7    8
895   136A   68.5     65      F     64    8
896   136A   68.5     65      F   63.5    8
897   136A   68.5     65      F     63    8

[898 rows x 6 columns]

In [16]:
X = df["father"]

KeyError: 'father'

In [14]:
X